.checkoutSection{
    width: 100%;
        height: auto;
        background-image: url("../image/bgourpricing.jpg");
        @include bgImagePosition ;
        .d-flex{
            .cartDetailstxt{
                margin: 10px;
                h1{
                    margin: 185px auto;
                    color: $modeW;
                    font-family: 'Rowdies', cursive;
                    font-size: 27px;
                    &:hover{
                        cursor: pointer;
                    }
                }
            
               
            }
        }
      

}  

.checkout2{
    .container{
        form{
            .form-control{
                height: 50px;
                transition: 250ms;
                &::placeholder{
                    color: rgb(92, 92, 92);
                }
                &:focus{
                    outline: none;
                    box-shadow: none;
                    // border-color:$textcolor;
                }
                border: none;
                border-radius: 0px;
                border-bottom: 1px solid $textcolor;
            }
        }
        .checkOutDetails{
                border: 1px solid rgb(219, 219, 219);
                #checkbox{
                    accent-color: $textcolor;
                    &:hover{
                        cursor: pointer;
                    }
                }
                .placeOrder{
                    padding: 10px 20px;
                    background-color: $darkalpha;
                    transition: 250ms;
                    a{
                        color: $modeW;
                        text-decoration: none;
                        font-family: 'Cabin', sans-serif;
                    }
                    &:hover{
                        background-color: $textcolor;
                        cursor: pointer;
                    }
                }
        }
    }
}
