
footer{
    width: 100%;
    height: auto;
    background-image: url("../image/footer.jpg");
    @include bgImagePosition ;
    position: relative;
    background-attachment: fixed;
    .footerBox{
        background-color: rgba($color: $footer, $alpha: .6 );
        .footerText{
            .container-fluid{
                .footerh3{
                    font-family: 'Plus Jakarta Sans', sans-serif;
                    color: $textcolor;
                    font-size: 17px;
                }
                .footerh1{
                    font-family: 'Rowdies', cursive;    
                    font-size: 50px;
                    color: $modeW;
                }
                .footerA{
                    color: $modeW;
                    padding: 12px 40px;
                    background-color: $textcolor;
                    border-radius: 20px;
                    text-decoration: none;
                    font-weight: bold;
                    transition: 250ms;
                    &:hover{
                       background-color: #e4af5f;
                    }
                }
            }
            .footerCopy{
                i{
                    color: $modeW;
                }
                span{
                    color: $modeW;
                    font-family: 'Plus Jakarta Sans', sans-serif;
                    .footerSpan{
                        color: $textcolor;

                    }
                }
            }
        }
        .container{
            .footerIcon{
               color: $textcolor;
               font-size: 22px;
            }
            .footerlasth6{
                font-size: 20px;
                color: $modeW;
                font-weight: bold;
            }
            .footerlasth61{
                color: $textcolor;
                font-weight: bold;
            }
            .boxIcon{
                margin: 10px;
                transition: 250ms;
                i{
                    font-size: 16px;
                }
                &:hover{
                    cursor: pointer;
                    color: $textcolor;
                }
            }
            .footerIcon{
                text-align: left;
            }
            .lastFooterh6{
                font-weight: bold;
                color: $modeW;
            }
            .lastFooterP{
                font-weight: bold;
                transition: 250ms;
                color: grey;
                &:hover{
                    color: $textcolor;
                    cursor: pointer;
                }
            }
          
        }
    }
}


@media (max-width:730px){
    footer{
        .footerBox{
            .footerText{
                .container-fluid{
                    .footerh3{
                        font-size: 15px;
                    }
                    .footerh1{
                        font-size: 35px;
                    }
                    .footerA{
                        font-size: 15px;
                    }
                }
            }
        }
    }
}

@media (max-width:480px){
    footer{
        .footerBox{
            .footerText{
                .container-fluid{
                    .footerh3{
                        font-size: 15px;
                    }
                    .footerh1{
                        font-size: 28px;
                    }
                }
            }
        }
    }
}

@media (max-width:575px){
    footer{
        .footerText{
            .container{
                .d-flex{
                    justify-content: center !important;
                }
                .footerlasth6{
                    text-align: center;
                }
                .footerlasth61{
                    text-align: center;

                }
                .footerImgBox{
                    text-align: center;
                }
                .footerLasth6{
                    text-align: center;

                }
                .footerIcon{
                    text-align: center;
                }
            }
        }
    }
}

