.yourBlog{
    .yourBlog2{
        width: 100%;
            height: auto;
            background-image: url("../image/reduxbgimg.jpg");
            @include bgImagePosition ;
            background-attachment: fixed;
           .container-fluid{
               background-color: rgba($color: #000000, $alpha: .6);
            .d-flex{
                .yourBlogTextFirst{
                    margin: 10px;
                    h1{
                        margin: 195px auto;
                        a{
                         color: transparent;
                         font-family: 'Rowdies', cursive;
                        -webkit-text-stroke: 2px  rgb(214, 214, 214);
                        font-size: 115px;
                        text-decoration: none;
                      }
                    }
                }
            }
            .yourh5{
                transform: translateY(-200px);
                color: $textcolor;
                font-size: 22px;
                // -webkit-text-stroke: 1px  rgb(214, 214, 214);
            }
            .yourLog{
                transform: translateY(-160px);
                .youra{
                    cursor: pointer;
                    border: 2px solid rgb(143, 143, 143);
                    background-color: transparent;
                    padding: 15px 70px;
                    border-radius: 50px;
                    color: $modeW;
                    text-decoration: none;
                    font-size:20px;
                    font-family: 'Cabin', sans-serif;
                    transition: 250ms;
                    i{

                        transition: 250ms;
                        font-size: medium;
                    }
                    &:hover{
                        background-color: $textcolor;
                        border: 2px solid rgb(143, 143, 143);
                        i{
                            transform: translateX(10px);
                        }
                    }
                }
            }
        }
    }
}

.yourBlogDetails{
    .container{
        .btn2{
            border: none;
            padding: 10px 30px;
            border-radius: 50px;
            font-family: 'Cabin', sans-serif;
            font-size: small;
            color: $modeW;
            background-color: $textcolor;
            transition: 250ms;
            i{
                transition: 250ms;
            }
            &:hover{
                background-color: $darkalpha;
                i{
                    transform: translateX(7px);
                }
            }
        }
    }
}

.dashboard{
    .yourBlog2{
        width: 100%;
            height: auto;
            background-image: url("../image/reduxbgimg.jpg");
            @include bgImagePosition ;
            background-attachment: fixed;
           .container-fluid{
               background-color: rgba($color: #000000, $alpha: .6);
            .d-flex{
                .yourBlogTextFirst{
                    margin: 10px;
                    h1{
                        margin: 195px auto;
                        a{
                         color: transparent;
                         font-family: 'Rowdies', cursive;
                        -webkit-text-stroke: 2px  rgb(214, 214, 214);
                        font-size: 55px;
                        text-decoration: none;
                      }
                    }
                }
            }
        }
    }
    .addBlogBtn{
        border: none;
        padding: 12px 15px;
        background-color: $textcolor;
        border-radius: 15px;
        color: $modeW;
        font-family: 'Cabin', sans-serif;
        transition: 250ms;
        &:hover{
            background-color: $darkalpha;
        }
        
    }


}

.addBlog{

    .yourBlog2{
        width: 100%;
            height: auto;
            background-image: url("../image/reduxbgimg.jpg");
            @include bgImagePosition ;
            background-attachment: fixed;
           .container-fluid{
               background-color: rgba($color: #000000, $alpha: .6);
            .d-flex{
                .yourBlogTextFirst{
                    margin: 10px;
                    h1{
                        margin: 195px auto;
                        a{
                         color: transparent;
                         font-family: 'Rowdies', cursive;
                        -webkit-text-stroke: 2px  rgb(214, 214, 214);
                        font-size: 75px;
                        text-decoration: none;
                      }
                    }
                }
            }
            .yourh5{
                transform: translateY(-190px);
                color: $textcolor;
                font-size: 22px;
            }
        }
    }


}



.editBlog{
    .yourBlog2{
        width: 100%;
            height: auto;
            background-image: url("../image/reduxbgimg.jpg");
            @include bgImagePosition ;
            background-attachment: fixed;
           .container-fluid{
               background-color: rgba($color: #000000, $alpha: .6);
            .d-flex{
                .yourBlogTextFirst{
                    margin: 10px;
                    h1{
                        margin: 195px auto;
                        a{
                         color: transparent;
                         font-family: 'Rowdies', cursive;
                        -webkit-text-stroke: 2px  rgb(214, 214, 214);
                        font-size: 75px;
                        text-decoration: none;
                      }
                    }
                }
            }
            .yourh5{
                transform: translateY(-190px);
                color: $textcolor;
                font-size: 22px;
            }
        }
    }
    
}


.blogForm{
    width: 100%;
    height: auto;
    background-image: url("../image/bg.png");
    @include bgImagePosition;
    form{
        .kitchorImg{ 
            width: 200px;
            height: 40px;
   
          
        }
        .form-control{
            height: 40px;
            transition: 250ms;
            &::placeholder{
                color: $mode;
            }
            &:focus{
                outline: none;
                box-shadow: none;
                border-color:$textcolor;
            }
        }
        .formBtn{
            padding: 13px 40px;
            background-color: $textcolor;
            border: none;
            border-radius: 50px;
            font-family: 'Cabin', sans-serif;
            color: $modeW;
            transition: 250ms;
            border: 1px solid rgb(102, 102, 102);
            &:hover{
                background-color: $darkalpha;
            }
        }
      
    }
}


.login{
    .yourBlog2{
        width: 100%;
            height: auto;
            background-image: url("../image/reduxbgimg.jpg");
            @include bgImagePosition ;
            background-attachment: fixed;
           .container-fluid{
               background-color: rgba($color: #000000, $alpha: .6);
            .d-flex{
                .yourBlogTextFirst{
                    margin: 10px;
                    h1{
                        margin: 195px auto;
                        a{
                         color: transparent;
                         font-family: 'Rowdies', cursive;
                        -webkit-text-stroke: 2px  rgb(214, 214, 214);
                        font-size: 85px;
                        text-decoration: none;
                      }
                    }
                }
            }
        }
    }
}
.login2{
    width: 100%;
    height: auto;
    background-image: url("../image/bg.png");
    @include bgImagePosition;
    margin-top: 50px;
    margin-bottom: 80px;
    .logintxt{
        font-family: 'Cabin', sans-serif;
    }
  
    form{
        .form-control{
            height: 40px;
            transition: 250ms;
            &::placeholder{
                color: $mode;
            }
            &:focus{
                outline: none;
                box-shadow: none;
                border-color:$textcolor;
            }
        }
        .formBtn{
            padding: 13px 40px;
            background-color: $textcolor;
            border: none;
            border-radius: 50px;
            font-family: 'Cabin', sans-serif;
            color: $modeW;
            transition: 250ms;
            border: 1px solid rgb(102, 102, 102);
            &:hover{
                background-color: $darkalpha;
            }
        }
      
    }
}
.removeBtn{
    padding: 13px 35px;
    background-color: $textcolor;
    border: none;
    border-radius: 50px;
    font-family: 'Cabin', sans-serif;
    color: $modeW;
    transition: 250ms;
    border: 1px solid rgb(102, 102, 102);
    &:hover{
        background-color: $darkalpha;
    }
}

@media (max-width:590px) {
    .yourBlog{
        .yourBlog2{
           .container-fluid{
           .d-flex{
            .yourBlogTextFirst{
              h1{
                margin: 90px auto;
                a{
                    font-size: 50px;

                }
              }
            }
         
           }
           .yourh5{
            transform: translateY(-82px);
            font-size: 18px;
          }
          .yourLog{
            transform: translateY(-40px);
            a{
                padding: 10px 50px;
                font-size: 15px;
            }
          }
           }
        }
    }
}

@media (max-width:590px) {
    .login{
        .yourBlog2{
           .container-fluid{
           .d-flex{
            .yourBlogTextFirst{
              h1{
                margin: 90px auto;
                a{
                    font-size: 50px;
                }
              }
            }
         
           }
           }
        }
    }
}

@media (max-width:590px) {
    .dashboard{
        .yourBlog2{
           .container-fluid{
           .d-flex{
            .yourBlogTextFirst{
              h1{
                margin: 90px auto;
                a{
                    font-size: 40px;
                }
              }
            }
         
           }
           }
        }
    }
}

@media (max-width:590px) {
    .addBlog{
        .yourBlog2{
           .container-fluid{
           .d-flex{
            .yourBlogTextFirst{
              h1{
                margin: 90px auto;
                a{
                    font-size: 50px;

                }
              }
            }
         
           }
           .yourh5{
            transform: translateY(-82px);
            font-size: 18px;
          }
           }
        }
    }
}

@media (max-width:590px) {
    .editBlog{
        .yourBlog2{
           .container-fluid{
           .d-flex{
            .yourBlogTextFirst{
              h1{
                margin: 90px auto;
                a{
                    font-size: 50px;

                }
              }
            }
         
           }
           .yourh5{
            transform: translateY(-82px);
            font-size: 18px;
          }
           }
        }
    }
}